h1{
    text-align: center;
    font-family:Tahoma, Verdana, sans-serif;
}
.container{
    margin:0 auto;
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ChangePassword{
    width:50%;
    height: 100%;
    display: inline-block;
}
.container img{
    width:50%;
    display: inline-block;

}
.Password{
    width:80%;
    height: 50px;
    padding:0;
    padding-left: 25px;
    border:solid black;
    border-width: 0px 0px 1px 0px;
}

.ChangePassword label{
    display: inline-block;
    width:70%;
    height: 20px;
    margin-top: 5px;

}

.OTP{
    display: inline-block;
    width:20%;
    height: 30px;
    margin-top: 5px;
    padding:0;
    padding-left:30px;
    border:solid black;
    border-width: 0px 0px 1px 0px;
}
.ChangePassword button{
    width:100px;
    height: 30px;
    margin:0;
    padding:0;
    margin-top:10px;
}
