.ForgotPassword{
    width: 700px;
    height: 150px;
    margin: auto;
    padding-top: 20px;
}
.ForgotPassword label{
    width:100%;
    display: block;
    padding-left:0;
    text-align: center;
    font-size: xx-large;
}
.ForgotPassword input{
    width:475px;
    height: 50px;
    margin-top: 5px;
    padding:0;
    padding-left: 25px;
    display: inline-block;
    border: 0px;
 
}
.ForgotPassword button{
    width:200px;
    height: 50px;
    padding:0;
    margin-top: 5px;
    border: 0px;
    display: inline-block;
}
.forgot_password_img{
    width:20em;
    display: block;
    margin:0 auto;
}

@media  screen and (max-width:900px) {
    .ForgotPassword{
        width: 75%;
        height: 150px;
        margin: auto;
        padding-top: 20px;
    }
    .ForgotPassword label{
        width:100%;
        font-size: x-large;
        display: block;
        padding-left:0;
        text-align: center;
    }
    .ForgotPassword input{
        width:60%;
        height: 50px;
        margin-top: 5px;
        padding:0;
        padding-left: 25px;
        display: inline-block;
        border: 0px;
     
    }
    .ForgotPassword button{
        width:30%;
        height: 50px;
        padding:0;
        margin-top: 5px;
        border: 0px;
        display: inline-block;
    }
    .forgot_password_img{
        width:20em;
        display: block;
        margin:0 auto;
    }
    
}