body {
  /*illustration shade:#3A62B7*/
  margin: 0;
  width:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  overflow-x:hidden ;
  min-height:100vh;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*common properties*/
h1{
  color:#434e8a;
  text-align: center;
  font-family:Tahoma, Verdana, sans-serif;
}
button{
  color:white;
  background-color:#3f51b5 ;
}
button:hover{
  background-color:#2196f3 ;
}
input{
  outline: none;
  background-color:#f3f0f1;
}


/*for Header*/
.navbar{
  margin: 0;
  margin-bottom:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#3f51b5;
  width: 100%;
  height:50px;
  padding: 0;
  position: sticky;
  top:0;
  border: 1px solid;
    box-shadow: 0 12px 15px -3px #777;
  -webkit-box-shadow: 0 12px 15px -3px #777;
  -moz-box-shadow: 0 12px 15px -3px #777;
}
.left{
  display: flex;
  justify-content:flex-start;
  list-style: none;
  height:50px;
}
.right{
  display: flex;
  justify-content:flex-end;
  list-style: none;
  height:50px;
}
.navbar li{
  color: white;
  margin:0;
  padding:5px;
  padding-top: 13px;
}
.navbar a:hover{
  background-color:  #2196f3;
  color: white;
  margin:0;
}
a{
  text-decoration: none;
  color: white;
}

/*for table*/
table{
  display: block;
  align-items: center;
  margin:0 auto;
  margin-bottom: 25px;
  width: 90%;
  max-height: 75vh;
  font-size:max(10px,1vw);
  border: 0.5px solid black;
  border-collapse: collapse;
  overflow-x: auto;
}
th{

  color:white;
  background-color: #3646a1;
  height: 40px;
  border: 0.5px solid black;
}
td{
  padding:5px;
  background-color:#e8e6f7;
  border: 0.5px solid black;
}
